
body
{
    font-family: "Raleway", sans-serif;
    max-width: 1340px;
    width: 100%;
    margin: auto;
}

header
{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.onglets
{
    display: flex;
}

.onglets nav
{
    display: flex;
    align-items: center;
}

nav ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

nav ul li
{
    height: 100%;
    padding: 50px 10px;
    border-top: 2.5px solid transparent;
}

nav ul li:hover
{
    color: #0065fc;
    border-top: 2.5px solid #0065fc;
}

nav a
{
    
    text-decoration: none;
    color: black;

}
nav a:hover
{
    color: #0065fc;
}

.inscription
{ 
    border-top: 2.5px solid transparent;
   padding: 50px 10px;
   font-weight: bolder;
   color: #0065fc;
   text-decoration: none;
}

.search h1
{
    margin-top: 0;
    margin-bottom: 15px;
}
.search p
{
    margin: 0;
}
#searchbar
{
  display: flex;  
  height: 50px;
  margin: 20px 0 30px 0;
}

.mapmarker
{
    display: flex;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.searchfield
{
    width: 235px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
}

.searchbutton
{
    width: 130px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #0065fc;
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

#filters
{
    margin-bottom: 40px;
}

#filters ul
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
}

#filters ul li
{
    display: flex;
    list-style-type: none;
    margin-right: 25px;
}

.filterstitle 
{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.Economique
{
    display: flex;
}

.Family
{
    display: flex;
}

.Love
{
    display: flex;
}

.Animals
{
    display: flex;
}

#filters i
{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #DEEBFF;
    color: #0065fc;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #DEEBFF;
}

#filters a
{
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    border: 2px solid #f2f2f2;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: transparent;
}

.Economique span
{
    display: block;
    padding: 10px 20px 10px 60px;
}

.Family span
{
    display: block;
    padding: 10px 20px 10px 60px;
}

.Love span
{
    display: block;
    padding: 10px 20px 10px 60px;
}

.Animals span
{
    display: block;
    padding: 10px 20px 10px 60px;
}

.info
{
    display: flex;
    align-items: center;
    margin: 0;
}
.info i
{
    display: flex;
    width: 25px;
    height: 25px;
    background-color: white;
    color: #0065fc;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #f2f2f2;
    margin-right: 10px;
}

main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 65px;
}

#container_1
{
    background-color: #f2f2f2;
    border-radius: 20px;
    justify-content: space-around;
    flex: 1;
}

#Hebergements
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
}

.hebergement_header
{
    padding: 45px 0 25px 25px;
}

.hebergement_header h2
{
    margin: 0;
}

#Hebergements a
{
    text-decoration: none;
    color: black;
}

.boxhebergement
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 245px;
    height: 200px;
    margin-bottom: 30px;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 15px; 
    box-shadow: 4px 2px 20px rgb(201 201 201);
}

.boxhebergement img
{
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}

.hebergement_description
{
    padding: 10px 0 10px 15px;
}

.hebergement_description h4
{
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
}

.hebergement_description p
{
    margin: 5px 0 5px 0;
    font-size: 14px;
}

.hebergement_description i 
{
    font-size: 12px;
    color: #0065fc;
}

.stars span i 
{
    color: #ebe7e7;
}

.hebergement_footer
{
    padding-left: 25px;
    font-weight: bolder;
}

.hebergement_footer a
{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 16px;
}

#container_2
{
    background-color: #f2f2f2;
    margin-left: 40px;
    border-radius: 25px;
    width: 420px;
    height: 100%;
}

.popular_header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 40px 25px 40px;
}

.popular_header h2
{
    margin: 0;
}

.popular_header i
{
    font-size: 18px;
    color: black;
    font-weight: bolder;
}

.popular_main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popular_main a
{
    text-decoration: none;
    color: black;
}
.boxpopular
{
    display: flex;
    width: 345px;
    height: 145px;
    margin-bottom: 30px;
    background-color: white;
    color: black;
    border-radius: 15px; 
    box-shadow: 4px 2px 20px rgb(201 201 201);
}

.boxpopular img
{
    display: flex;
    width: 127px;
    height: 135px;
    padding: 5px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.description
{
    flex: 1;
    padding: 20px 40px 15px 20px; 
}

.description h4
{
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
}

.description p
{
    font-size: 14px;
    margin-bottom: 30px;
}

.description i 
{
    font-size: 12px;
    color: #0065fc;
    margin-bottom: 0;
}


#stars span i
{
    color: #ebe7e7;
}

#container_3
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.activities
{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 445px;
    box-shadow: 4px 2px 20px rgb(201 201 201);
    border-radius: 25px;
}

.activities a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.activities img
{
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.activities figure
{
    margin: 0;
}

.activities figcaption
{
    padding: 20px 0 20px 20px;
}

.boxactivity_pomegues_frioul
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
}

.boxactivity_pomegues_frioul a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.fort_pomegues
{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 240px;
    border-radius: 25px;
    box-shadow: 4px 2px 20px rgb(201 201 201);
}

.fort_pomegues img
{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.fort_pomegues figcaption
{
    padding: 20px 0 20px 20px;
}

.iles_frioul
{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 165px;
    border-radius: 25px;
    box-shadow: 4px 2px 20px rgb(201 201 201);
}

.iles_frioul img
{
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.iles_frioul figcaption
{
    padding: 20px 0 20px 20px;
}

.boxactivity_calanques
{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 445px;
    box-shadow: 4px 2px 20px rgb(201 201 201);
    border-radius: 25px;
}

.boxactivity_calanques a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.boxactivity_calanques img
{
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.boxactivity_calanques figure
{
    margin: 0;
}

.boxactivity_calanques figcaption
{
    padding: 20px 0 20px 20px;
}

.boxactivity_notredame_longchamp
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.boxactivity_notredame_longchamp a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
}


.notre_dame
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 195px;
    border-radius: 25px;
    box-shadow: 4px 2px 20px rgb(201 201 201);
}

.notre_dame img
{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.notre_dame figcaption
{
    padding: 20px 0 20px 20px;
}

.longchamps
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 210px;
    border-radius: 25px;
    box-shadow: 4px 2px 20px rgb(201 201 201);
}

.longchamps img
{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.longchamps figcaption
{
    padding: 20px 0 20px 20px;
}


footer
{
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 30px;
    padding-top: 40px;
}

footer div
{
  margin-left: 50px;  
  margin-right: 190px;
  
}

footer a
{
    text-decoration: none;
    color: black;
    
}

footer div ul
{
    list-style-type: none;
    padding: 0;
}

footer div h5
{
    font-size: 1.2vw;
}

footer div ul li
{
    margin-bottom: 30px;
    font-size: 1.1vw;
}

footer div ul li:hover
{
    font-weight: bold;
}







